@model Categories

@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>
<h5>Create the categories and costs of the cars to rent.</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Categories" asp-action="Create">
    <div class="col-md-6 mx-auto">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="row g-3">
            <div class="col mb-3">
                <label asp-for="Passengers" class="form-label"></label>
                <input type="number" asp-for="Passengers" class="form-control" />
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>

            <div class="col mb-3">
                <label asp-for="Luggages" class="form-label"></label>
                <input type="number" asp-for="Luggages" class="form-control" />
                <span asp-validation-for="Luggages" class="text-danger"></span>
            </div>
        </div>

        <div class="row g-3">
            <div class="col mb-3">
                <label asp-for="CostPerDay" class="form-label"></label>
                <input type="number" asp-for="CostPerDay" class="form-control" />
                <span asp-validation-for="CostPerDay" class="text-danger"></span>
            </div>

            <div class="col mb-3">
                <label asp-for="LateFeePerHour" class="form-label"></label>
                <input type="number" asp-for="LateFeePerHour" class="form-control" />
                <span asp-validation-for="LateFeePerHour" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
